<header class="sticky-top my-3">
    <div style="text-align: center;">
        <div class="btn-group btn-group-lg">
            <button class="top btn btn-primary" onclick="location.href='index.html'">トップ</button>
            <button class="menu btn btn-primary" onclick="location.href='base.html'">ベース</button>
            <button class="favo btn btn-primary" onclick="location.href=''">お気に入り</button>
        </div>
    </div>
</header>