<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="/siema.min.js"></script>
    <style>
        body {
            background-color: black;
            color: white;
        }
        .resizeimg img { 
        width: 70%;
        max-width: 450px;
        text-align: center;
        }
        h3{
            border-bottom: double;
            border-width: 3px;
            border-color: gold;
        }
    </style>
</head>