<!DOCTYPE html>
<html lang="ja">
<%- include("./_head",title:title) %>
<body style="padding-top:4.5rem;">
    <div class="row">
        <div class="col-md">
            <form>
                <div class="form-group">
                    <label>名前：</label>
                    <input type="text" class="form-control">
                    <label>ベース：</label>
                    <select class="form-control">
                        <option>gin</option>
                        <option>vodka</option>
                        <option>rum</option>
                        <option>tequire</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</body>
</html>